<div class="panel-heading centered">
	Agregar afiliado
</div>
<div class="panel-body">
	<form name="addAfiliadoForm" 
			ng-submit="addAfiliadoForm.$valid && addAfiliado()">
		<div class="form-group">
			<label for="nombre">Nombre:</label>
			<input class="form-control" type="text" ng-model="newAfiliado.nombre" id="nombre" name="nombre" placeholder="John"/>
		</div>
		<div class="form-group">
			<label for="apellido">Apellido:</label>
			<input class="form-control" type="text" id="apellido" name="apellido" ng-model="newAfiliado.apellido" placeholder="Doe"/>
		</div>
		<div class="form-group">
			<label for="nombre-usuario">Nombre de usuario:</label>
			<input class="form-control" type="text" ng-model="newAfiliado.username" id="nombre-usuario" name="nombre-usuario" placeholder="jdoe"/>
		</div>
		<div class="form-group">
			<label for="passwrd">Contraseña:</label>
			<input class="form-control" type="password" ng-model="newAfiliado.passsword" id="password" name="password" placeholder="John"/>
		</div>
		<div class="form-group">
			<label for="email">Email:</label>
			<input class="form-control" type="email" id="email" name="email" ng-model="newAfiliado.email" placeholder="email@example.com"/>
		</div>
		<div class="panel panel-default">
		  	<!-- Default panel contents -->
		  	<div class="panel-heading">Hijos</div>
		  	<div class="panel-body">
		  		<div class="col-lg-12 col-md-12 col-xs-12">
		  			Agregar los hijos del afiliado que se está agregando.
		  		</div>
		  		<div class="fieldset">
					<div class="form-group col-lg-6 col-md-6 col-xs-12">
						<label for="sexo">Sexo:</label>
						<ui-select name="sexo" id="sexo" ng-model="newHijo.sexo">
							<ui-select-match placeholder="">{{$select.selected.value}}</ui-select-match>
							<ui-select-choices repeat="value.id as value in sexoOpts">
								<span>{{value.value}}</span>
							</ui-select-choices>
						</ui-select>
					</div>
					<div class="form-group col-md-6 col-md-6 col-xs-12">
			            <label for="fechaNacimiento">Fecha Nacimiento:</label>
			            <p class="input-group">
			              <input type="text" class="form-control" name="fechaNacimiento" id="fechaNacimiento" datepicker-append-to-body="true" datepicker-popup="dd-MMMM-yyyy" ng-model="newHijo.fechaNacimiento" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
			              <span class="input-group-btn">
			                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			              </span>
			            </p>
				    </div>
					<div class="form-group col-lg-12 col-md-12 col-xs-12">
						<input class="btn btn-default" type="button" value="Agregar" ng-click="addHijo()" />
					</div>
				</div>
		  	</div>
			
			<table ng-show="!(newAfiliado.hijos.length===0)" class="table table-hover">
				<tbody>
					<tr>
						<th>Sexo</th>
						<th>Fecha de nacimiento</th>
						<th>Acciones</th>
					</tr>
					<tr ng-repeat="hijo in newAfiliado.hijos">
						<td>{{hijo.sexo==="masculino"?"Masculino":"Femenino"}}</td>
						<td>{{hijo.fechaNacimiento | date: 'dd-MM-yyyy'}}</td>
						<td><a class="btn" href=""><span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="alertar()"></span></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="form-group">
			<label for="grupo">Grupo</label>
			<select class="form-control"  multiple="multiple">
				<option ng-repeat="grupo in grupos" ng-value="{{grupo.shortname}}">
					{{grupo.shortname}} - {{grupo.nombre}}
				</option>
			</select>
		</div>
		<div class="form-group">
			<input class="btn btn-default" type="submit" value="Agregar Afiliado"></button>
		</div>
	</form>
</div>
