<div id="dashboard" class="left column col-md-2 col-lg-2" ng-init=initDash()>
	<div class="dash-body standard">
		<nav>
			<ul class="sections">
				<li ng-repeat="section in sections">
					<div class="section" ng-class="{'active':isCollapsed, '':!isCollapsed}" ng-click="isCollapsed = !isCollapsed">
						<span class="dash-icon {{section.icon}}"></span>{{section.name}}
					</div>
					
					<ul class="actions" ng-class="{'collapsed':!isCollapsed, 'no-collapsed':isCollapsed}">
						<li ng-click="showSection(action.name+section.name)" class="action" ng-repeat="action in section.actions">
							<span class="dash-icon {{action.icon}}"></span>
							<div class="action-item">{{action.name}}</div>
						</li>
					</ul>
				
				</li>
			</ul>
		</nav>
	</div>
</div>
