<div id="dashboard" ng-class="{'col-md-2':dashVisible, 'col-lg-2':dashVisible, 'hidden':!dashVisible, 'hidden':!dashVisible}">
	<nav class="navbar navbar-inverse">
		<p>ADUNCe</p> 
	</nav>

	<div class="dash-body">
		<ul>
			<li class="section-container" ng-repeat="(key, section) in sections">
				<div class="section {{section.status}}" ng-class="{'active':isCollapsed, '':!isCollapsed}" ng-click="changeSectionStatus(key)">
					<span class="dash-icon {{section.icon}}"></span>{{key}}
				</div>
				<ul class="action-container" ng-class="{'collapsed':!section.status, 'no-collapsed':section.status}">
					<li ng-click="showSection(action.name+key)" class="action" ng-repeat="action in section.actions">
						<span class="dash-icon {{action.icon}}"></span>
						<div class="action-item">{{action.name}}</div>
					</li>
				</ul>
			</li>
		</ul>
	</div>

</div>
