<div class="panel-heading centered">
	Lista de afiliados
</div>
<div class="panel-body">
	<p>Se listan a continuación todos los afiliados.</p>
</div>
<div class="table-responsive">
	<table class="table table-striped table-condensed" style="width:100%">
		<tr>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Mail</th>
			<th>Estado</th>
		</tr>
		<tr ng-repeat="afiliado in afiliados">
			<td>{{afiliado.nombre}}</td>
			<td>{{afiliado.apellido}}</td>
			<td>{{afiliado.email}}</td>
			<td>{{afiliado.enabled?"activo":"inactivo"}}</td>
		</tr>
	</table>
</div>
