<div class="panel-heading centered">
	Editar grupo
</div>
<div class="panel-body">
	<form name="addGrupoForm" ng-submit="addGrupo()">
		<div class="form-group">
			<label for="shortname">Nombre Corto</label>
			<input type="hidden" class="form-control" ng-model="newGrupo.shortname" name="shortname" id="shortname" required/>
		</div>
		<div class="form-group">	
			<label for="nombre">Nombre</label>
			<input type="text" class="form-control" ng-model="newGrupo.nombre" name="nombre" id="nombre" required/>
		</div>
		<div class="form-group">	
			<div class="col-md-2">
				<input class="btn btn-default" type="submit" value="Agregar Grupo"></input>
			</div>
			<div class="col-md-9">
				<cmp-alert status="status">{{actualMsg}}</cmp-alert>
			</div>
		</div>
	</form>
	
</div>