  
  
.dashboard-admin{
	.dash-header{
		color: white;
		font-size: 15px;
	}
	.left{
		height: 500px;
		background-color: rgb(28, 43, 54);
		ul{
			padding: 0;
		}
		li{
			list-style-position: inside;
			list-style-type: none;
		}
		.action{
			color: white;
			cursor: pointer;
			font-size: 15px;
			font-family: Verdana;
			margin: 20px;
			&:hover{
				text-decoration: none;
				
			}
		}
	}
} 