.dashboard-admin>div{padding:0}
.dashboard-admin .dash-header{color:#b3b3b3;font-size:15px}
.dashboard-admin .left{height:500px;background-color:#1c2b36}.dashboard-admin .left ul{padding:0}
.dashboard-admin .left li{list-style-position:inside;list-style-type:none}
.dashboard-admin .left .action,.dashboard-admin .left .section{color:#b3b3b3;cursor:pointer;font-size:15px;font-family:Verdana;padding:20px}.dashboard-admin .left .action:hover,.dashboard-admin .left .section:hover{text-decoration:none}
.dashboard-admin .left .section{border-bottom:1px solid #666}
.dashboard-admin .left .active{background:#1c272d}
