@import "variables.less";
  
  
.dashboard-admin{
	> div {
		padding: 0;
	}
	.dash-header{
		color: @dashTextColor;
		font-size: 15px;
	}
	.left{
		height: 500px;
		background-color: @dashBackground;
		ul{
			padding: 0;
		}
		li{
			list-style-position: inside;
			list-style-type: none;
		}
		.action, .section{
			color: @dashTextColor;
			cursor: pointer;
			font-size: 15px;
			font-family: Verdana;
			padding: 20px;
			&:hover{
				text-decoration: none;
				
			}
		}
		
		.section{
			border-bottom: 1px solid @dashBorder;
		}
		.active{
			background: @dashActiveBackground;
			
		}
	}
} 