@import "variables.less";
  
html{
	height: 100%;
}

#adminArea nav{
	border: 0;
}

#dashboard {
	padding: 0;

	nav{
		margin-bottom: 0px; 
		p{
			height: 40px;
			text-align: center;
    		font-size: 25px;
	    	line-height: 50px;
	    	color: @dashTextColor;
		}
	}
	.action-container{
		margin-left: 10%;
		clear:both;	
	}
	
	.dash-body{
		background-color: @dashBackground;
		ul{
			padding: 0 3px;
			overflow: hidden;
		}
		li{
			list-style-position: inside;
			list-style-type: none;
			
			.action-item{
				display: inline-block;
			}
		}
		
		.action, .section{
			color: @dashTextColor;
			cursor: pointer;
			font-size: 15px;
			font-family: Verdana;
			padding: 20px;
			&:hover{
				text-decoration: none;
				
			}
		}
		
		.section{
			border-bottom: 1px solid @dashBorder;
			border-top: 1px solid @dashBorder;
			margin-top: -1px;
		}
		
		.dash-icon{
			margin-right: 7px;	
		}
		
		.active{
			background: @dashActiveBackground;
			font-weight: bold;
			color: @dashActiveTextColor;
		}
		
	}
		
}


#rightPane{
	padding-left: 0;
} 

#afiliadosList{
	margin-top: 20px;
	border: 1px solid grey;
	background: WhiteSmoke;
	overflow: auto;
	max-height: 500px;
	height: 250px;
	table{
		cursor:pointer;
		td, th{
			text-align: center;
		}
	}
	
	ul{
		padding: 5px;
		list-style-position: inside;
		list-style-type: none;
		margin-top: 10px;
		li{
			padding: 5px 0px 5px 30px;
			border-bottom: 1px solid @borderRow;
			&:first-child{
				border-top: 1px solid @borderRow;
			}
			&:nth-child(odd){
				background-color: @whiteRow;
			}
		}
		
	}
}

#newsTable{
	text-align: center;
}