@import "variables.less";

.collapsed{
	max-height: 0;
	overflow:hidden;
}

.no-collapsed{
	max-height: 500px;
}

#header{
	background: url("@{imagesFolder}/bg-header.png");
	height: 200px;
	> div{
		text-align:center;
	}
	img{
		margin-top:70px;
		width: 90%;
	}
}

#formContainer{
	padding-top: 50px;
}