@import "variables.less";

.collapsed{
	max-height: 0;
	overflow:hidden;
}

.no-collapsed{
	max-height: 500px;
}

#header{
	background: url("@{imagesFolder}/bg-header.png");
	height: 200px;
	
	img{
		margin-top:100px;
		width: 100%;		
	}
}

#formContainer{
	padding-top: 50px;
}