@CHARSET "UTF-8";
.container-full {
	width: 100%;
	padding: 0 0;
}

.content {
	width: 100%;
	margin: 2% 2% 2% 0;
}

.centered {
	text-align: center;
}

body {
	background: url('../img/bg-web.png') repeat scroll 0% 0% transparent;
}

.avatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: url('../img/avatar.png');
	background-size: 100% 100%;
	margin: auto 0;
}

.dashboard-admin {
	margin: -20px 0 0;
}

.navbar {
	border-radius: 0;
}

.icon {
	margin: 0px 10px;
}

.navbar-brand {
	text-align: center;
	width: 100%;
}

.left-brand {
	width: calc(16.6666% - 15px);
}

/* when hiding the picture */
.ng-hide-add         { animation:0.5s lightSpeedOut ease; }

/* when showing the picture */
.ng-hide-remove      { animation:0.5s flipInX ease; }


