<section id="adminArea">
	<div class="container-full">
		
		<cmp-dashboard></cmp-dashboard>
		
		<div id="rightPane" ng-class="{'col-md-10':dashVisible, 'col-lg-10':dashVisible, 'col-md-12':!dashVisible, 'col-lg-12':!dashVisible}">
			 <cmp-nav-dash></cmp-nav-dash>
			
			<div>
				<div class="container" >
					<div class="panel panel-active">
						<!-- ng-controller="AfiliadosAdmController" -->
						<div  class="animate-switch-container" ng-switch on="activeSection">
						    
						    <div class="animate-switch" ng-switch-when="ListarAfiliados">
						      	<afiliados-list></afiliados-list>
						    </div>
						    
						    <div class="animate-switch" ng-switch-when="AgregarAfiliados">
						      	<add-afiliado></add-afiliado>
						    </div>
							
							<div class="animate-switch" ng-switch-when="EditarAfiliados">
						      	<edit-afiliado></edit-afiliado>
						    </div>
						    
						    <div class="animate-switch" ng-switch-when="BorrarAfiliados">
									<div ng-include="includeSection('delete_afiliados')"></div>
							</div>
						    
						    <div class="animate-switch" ng-switch-default>default</div>
			  			</div>
	  				</div>
	  			</div>
			</div>
		</div>
	</div>
</section>

<footer>
</footer>
